.title::before {
    content: "";
    background: #7b1798;
    height: 4px;
    width: 130px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transform: translateY(63px);
}


.title::after {
    content: "";
    background: #7b1798;
    height: 10px;
    width: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    display: block;
    transform: translateY(8px);
}